{% extends 'base.html' %}
{% load static %}
{% block content %}

<a href="{% url 'users' %}" class="btn btn-secondary">Back</a>
<div class="card">
  <div class="card-header">
    Customer info.
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{ customer_record.first_name }} {{ customer_record.last_name }} </h5>
    <strong> Email: </strong> <p class="card-text"> {{ customer_record.email }} </p>
    <strong> Phone: </strong> <p class="card-text"> {{ customer_record.phone  }} </p>
    <strong> Created at: </strong> <p class="card-text"> {{ customer_record.created_at  }} </p>
    <strong> Customer ID: </strong> <p class="card-text"> {{ customer_record.id  }} </p>
  </div>
</div>

<br>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a> 
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

{% endblock %}