:root {
    --color-bg: #d4d6dd;
    --color-sidebarbg: #2c3247;
    --color-primary: #536192;
    --color-muted: #ffffff;
    --color-text-dark: #222;
    --color-text-light: #ccd0e0;
    --color-shadow: rgba(60, 60, 120, 0.06);
    --border-radius-lg: 18px;
    --border-radius-md: 8px;
    --font-family: 'Inter', Arial, sans-serif;
}