{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'css/services/services.css' %}">{% endblock %}

<div class="container-fluid px-4 py-3">
    <!-- Header Section -->
    <h2 class="page-title">Dolares y Divisas</h2>
    <div class="list-header">        
        <div class="header-left">            
            <p class="client-count"> Precio del dólar y otras divisas</p>   
        </div>
    </div>   


</div><!-- END DIV -->
{% endblock %}